:root {
  --dark_green: #1d715a;
  --background: #ffffffde;
  --light_green: #26fabe;
  --disabled_color: #bababa;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

#root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color: black;
  background-color: var(--background);

  display: grid;
  grid-template-rows: 18vh 1fr;
  height: 100%;
  width: 100%;
}

header {
  display: grid;
  grid-template-columns: 1fr 5fr auto;
  align-items: center;
  justify-items: center;
  padding: 0 5vh 0 5vh;

  > img {
    width: 9vh;
    height: 9vh;
    justify-self: start;
  }
  > div {
    justify-self: end;
  }

  > #close_button {
    width: 7vh;
    height: 7vh;
    cursor: pointer;
  }

  > #header-header-nav {
    color: var(--background);
  }
}

.green_text {
  color: var(--dark_green);
}

h1 {
  margin: 0;
  font-family: 'Krona One', sans-serif;
  font-size: 8vh;
}

#add_file_page {
  display: flex;
  flex-direction: column;
  height: 82vh;

  > a {
    flex-grow: auto;

    height: 6vh;
    width: 6vh;

    border: solid black;
    border-radius: 4vh;

    align-content: center;
    align-self: end;
    margin: auto 3vw 4vh 0;

    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 3vh;


    :visited {
      color: black;
    }
  }
}

#file_input {
  width: auto;
  height: 10vh;
  margin-top: 15vh;
  aspect-ratio: 11.5/1;

  border-radius: 6vh;

  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;

  > * {
    height: 6vh;
    width: 6vh;
    flex: 1 5 auto;
  }

  > span {
    height: 4vh;
    font-size: 4vh;
    line-height: 4vh;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 500;
    flex: 5 10 auto;
    text-align: center;
    justify-self: center;
    justify-content: center;
  }

  * {
    pointer-events: none;
  }

}

.not_dragging {
  border: black dashed;
  transition: all 0.225s ease-in-out;
}

.dragging {
  background-color: #e3fff7cc;
  border: black solid;
  transition: all 0.225s ease-in-out;
}

.ready {
  border: black solid;
}

#file_input:hover {
  cursor: pointer;
}

#separate_tracks {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: end;
  width: auto;
  height: 10vh;
  aspect-ratio: 10.5/1;

  > label {
    font-size: 3vh;
    user-select: none;
    cursor: pointer;
  }
}

[type='checkbox'] {
  display: none;
}

[type='checkbox'] + .custom_checkbox {
  height: 3vh;
  margin-left: 0.5em;

  position: relative;
  display: inline-block;
  color: black;
}

[type='checkbox'] + .custom_checkbox::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 3vh;
  height: 3vh;
  outline: solid black;
  border-radius: 1vh;
  background: none;
}

[type='checkbox']:checked + .custom_checkbox::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 3vh;
  height: 3vh;
  outline: solid black;
  border-radius: 1vh;
  background: none;
}

[type='checkbox']:checked + .custom_checkbox::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 3vh;
  height: 3vh;
  background-image: url(/public/check.svg);
  background-size: contain;
  transform: scale(1);
  opacity: 1;
  transition: all 0.175s ease-in-out;
}

[type='checkbox']:not(:checked) + .custom_checkbox::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 3vh;
  height: 3vh;
  background-image: url(/public/check.svg);
  background-size: contain;
  transform: scale(0);
  opacity: 0;
  transition: all 0.175s ease-in-out;
}

#upload_button {
  width: auto;
  height: 10vh;
  aspect-ratio: 5/1;
  margin-top: 5vh;

  align-self: center;

  border: none;
  border-radius: 5vh;
  background-color: var(--dark_green);

  font-size: 4vh;
  font-weight: 500;
  color: var(--background);
}

#upload_button:disabled {
  background-color: var(--disabled_color);
  color: rgba(0, 0, 0, 0.575);
}

#upload_button:enabled {
  cursor: pointer;
}

#upload_button:enabled:hover {
  background-color: var(--light_green);
  color: black;
}

#about_us_page {
  display: flex;
  flex-direction: column;
  align-items: center;

  > h2 {
    margin-bottom: 3vh;
    font-family: 'Krona One', sans-serif;
    font-size: 4vh;
  }

  > p {
    margin: 0 7.5vw 2vh 7.5vw;
    text-indent: 30px;
    text-align: justify;
  }
}

#pipline_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pipline_step {
  width: 70%;
  height: 100%;
  margin-top: 5vh;

  align-self: center;
  display: flex;
  flex-direction: column;

  border: solid black 0.2vw;
  border-radius: 3vh;
}

.top_part {
  height: 9vh;

  display: flex;
  justify-content: space-between;
  border: solid black 0.2vw;

  border-radius: 2.5vh;
  border-top: none;
  margin: 0 -0.1vw;

  > div {
    display: flex;
    justify-content: center;
    align-items: center;

    > div {
      padding: 2px;
      display: flex;
    }
  }

  svg {
    height: 6vh;
    width: auto;
    aspect-ratio: 1/1;
    margin: 0 1.5vh 0 1.5vh;
    cursor: pointer;
  }
}

.top_part.body_empty {
  border: none;
}

.select_container {
  position: relative;
  height: calc(9vh - 4px);
  width: auto;
  aspect-ratio: 4/1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.select {
  border: none;
  appearance: none;
  border-radius: inherit;
  padding: 0 30px 0 30px;
  height: 100%;
  width: 100%;
  color: var(--background);
  font-size: 3.5vh;
  font-family: inherit;
  background-color: inherit;
  cursor: pointer;
}

.select:focus {
  outline: none;
  border: none;
}

.track_select {
  background-color: var(--dark_green);
  margin-right: 3vw;
}

.type_select {
  border-top-right-radius: 2.4vh;
  border-radius: 0 2.4vh 1.9vh 0;
  background-color: var(--light_green);
}

.image_container {
  height: 100%;
  width: 8vh;
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

option {
  background-color: var(--background);
  color: black;
}

.fields_container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15vh;
  /* gap: 4vh; */
}

.time_select {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.time_select .label_box {
  height: 100%;
  width: 100%;
  font-size: 3.5vh;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin: 4vh 0;

}

.time-input-wrapper {
  border: black dashed;
  border-radius: 5vh;
  height: 8vh;
  width: auto;
  /* aspect-ratio: 11/1; */
  padding: 0 10px 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
}



.add_step {
  height: 8vh;
  width: 8vh;
  border: none;
  background-color: var(--dark_green);
  border-radius: 4vh;

  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background);

  margin-top: 4vh;
}

.add_step:hover {
  cursor: pointer;
}

.add_step:active {
  background-color: var(--light_green);
  color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.time-input {
  border: none;
  outline: none;
  text-align: center;
  font-size: 3.5vh;
}

#download_page {
  display: flex;
  flex-direction: column;
  height: 82vh;
  margin: 0;
}

#download_image {
  height: 50vh;
}

#download_button {
  width: auto;
  height: 10vh;
  aspect-ratio: 5/1;
  margin-top: 10vh;

  align-self: center;

  border: none;
  border-radius: 5vh;
  background-color: var(--dark_green);

  font-size: 4vh;
  font-weight: 500;
  color: var(--background);
}

#download_button:disabled {
  background-color: var(--disabled_color);
  color: rgba(0, 0, 0, 0.575);
}

#download_button:enabled {
  cursor: pointer;
}

#download_button:enabled:hover {
  background-color: var(--light_green);
  color: black;
}